// login
.user-access{
    margin: auto;

    .forgot-password{
        font-size: 13px;
    }
}

// jump books : small book display above page view
.book-list-mini{
    overflow: hidden;

    li{
        float: left;
        width: 50%;
        padding: 0 10px 10px;
        .box-sizing;
    }

    a{
       height: 175px;
    }
}


// my books : dashboard index book list
#my-books{
    padding: 20px 0;
}

.book-spot{
    float: left;
    width: 50%;
    .box-sizing;
    padding: 10px;
    height: 200px;
}

    .book-cover a{
        .box-sizing;
        height: 200px;
        margin:0;

        .book-pages{
            position: absolute;
            bottom: 25px;
            left: 25px;
        }
    }